
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;               
    /* обнуляем отступы и убираем бордюры */
}
input, select, button, textarea {
	margin: 0; 	/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	outline: none;
    border: none;
}

li {
    list-style: none;
}

a { 
    display: block;
    font-family:'PT Sans Narrow' , sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
   
    color: #000;
}


        /*-----tipographika---*/
h1 , legend , label  {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}



          /*-----container---*/
.container {
    display: flex;
    align-items:center;
    width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
}

body {
   
}

/*--------------HEADER----------------*/

.header-main {
    background: #000;
}

.header-main .header-logo {
    width: 140px;
    margin-right: 20px;
    text-align: center;
}

.header-main  nav {
    display: flex;
    justify-content: space-between;
}

.header-main  nav ul {
    display: flex;
    justify-content: space-around;
    width: 540px;
    box-sizing: border-box;
    margin-right: 145px;
}

.header-main  nav ul li {
    padding: 0 19px;
}

.header-main   a {
    font-size: 14px;
    padding: 30px 0;
    padding-bottom: 26px;
    color: #fff;
}

.header-main  nav li.active a {
    border-bottom: 4px solid #fff;
}

.header-main  nav li:hover{
    background: #242424;
}

.header-main   .login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main  .login a {
    padding: 30px 0;
    padding-left: 50px;
    padding-right: 15px;
}

.header-main   .login a:hover {
    background: #242424;
}

.header-main  .login::before {
    content: '';
    display: block;
    position: absolute;
    top: ;
    left: 15px;
    width: 18px;
    height: 18px;
    background: url(../image/icon-login.png) no-repeat center;
}

.header-main .login:hover::before {
    background: url(../image/icon-login-hover.png) no-repeat center;
}




            /*------main------*/
main {
    background: url(../image/bg_gallery.png);
    padding-top: 55px;
    padding-bottom: 75px;
}

main .container {
    display: block;
}

main h1 {
    margin-bottom: 25px;
    font-size: 25px;
}

/*crumbs*/
main .crumbs {
    display: flex;
    margin-bottom: 55px;
}

main .crumbs a {
    position: relative;
    margin-right: 38px;
}

main .crumbs a span {
    margin-right: 0;
    color: #aba9a7;
}

main .crumbs a:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: -23px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: #000;
}



                /*-------------FORM------------*/
.aside-form {
    display: inline-block;
    width: 170px;
     margin-right: 45px;
}

form fieldset {
     margin-bottom: 40px;
}

form fieldset legend {
    margin-bottom: 35px;
    font-size: 18px;
}

form label {
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 50px;
}

form input {
     display: inline-block;
     margin-top: 20px;
}

form input[type=radio], form input[type=checkbox] {
     display: none;
}

form label[for^=check]::before {
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    width: 16px;
    height: 16px;
    border: 2px solid #000101;
}

form input:checked + label[for^=check]::before {
    background: url(../image/X.png)no-repeat center;
}


form label[for^=radio]::before {
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    width: 16px;
    height: 16px;
    border: 2px solid #000101;
    border-radius: 50%;
}

form input:checked + label[for^=radio]::before {
    background: url(../image/X.png)no-repeat center;
}



form .btn {
    width: 110px;
    height: 40px;
    background: #000;
    font: bold 13px PT Sans Narrow, sans-serif;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}





                /*-----------CATALOG-------------*/
.catalog {
     display: inline-block;
     width: 710px;
     vertical-align: top;
     margin-bottom: 30px;
}

.catalog-item {
     display: inline-block;
     width: 220px;
     height: 285px;
     margin-right: 20px;
     margin-bottom: 20px;
     background: #fff;
     box-shadow: 0 0 15px 1px rgba(0,0,0, .2);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item-description {
    margin-left: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000;
    line-height: 28px;
}

.catalog-item-name {
    margin-left: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
}

.catalog-item-price {
    margin-top: 15px;
    margin-left: 15px; 
}

.catalog-item .catalog-item-price span{
    display: inline-block;
    width: 110px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background: #e5e5e5;
    font: bold 14px/40px PT Sans Narrow, sans-serif;
}

.catalog-item .catalog-item-price a{
    display: inline-block;
    width: 78px;
    height: 40px;
    margin-left: -4px;
    text-align: center;
    vertical-align: middle;
    background: #000;
    font: bold 14px/40px PT Sans Narrow, sans-serif;
    color: #fff;
}




            /*----------PAGINATION---------*/
.pagination {
    width: 200px;
    margin-left: 220px;
}

.pagination a {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: #000;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    margin-right: 2px;
}

.pagination a.pag-active {
    background: #fff;
    color: #000;
}




/*-------------FOOTER------------------*/

.footer-main {
    background: url(../image/bg-footer.png);
    padding-top: 55px;
    padding-bottom: 40px;
    color: #fff;
    font: bold 14px/24px PT Sans Narrow, sans-serif;
    text-transform: uppercase;
    box-shadow: inset 0 35px 50px -15px rgba(0,0,0, .8);
}

.footer-main a {
    color: #fff;
}

 .footer-contacts {
    width: 310px;
    margin-right: 85px;
}

 .footer-contacts a {
    display: inline;
    text-decoration: underline;
}

 .footer-contacts p  {
    color: #fff;
}

 .footer-social {
    width: 141px;
    margin-right: 250px;
    font-size: 0;

}

.footer-social span {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

 .footer-social .social-icon {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-right: 6px;
    background: #000 url(../image/social-sprite.png);
    font-size: 0;
}

 .footer-social .social-icon:last-child {
    margin-right: 0;
}

.footer-social .fb {
    background-position: center;
}

.footer-social .ig {
    background-position: right;
}

.footer-copyright {
    width: 140px;
}

.footer-copyright span {
    display: block;
    text-align: center;
     margin-bottom: 20px;
}

.footer-copyright a {
    height: 43px;
    background: #000;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
}