html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;               
    /* обнуляем отступы и убираем бордюры */
}
input, select, button, textarea {
	margin: 0; 	/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	outline: none;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

p {
    color: #fff;
}

body {
    background: url(../image/bg.png)no-repeat;
}

            /*-----container---*/
.container {
    width: 960px;
    margin: 0 auto;
}


           /*-----header-----*/
.header-main {
    background-color: #000; 
}

.header-main .container {
    display: flex;
    justify-content: space-between;
}

.header-main nav {
    width: 60%;
}

.header-main nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
}

.header-main .user-block {
    position: relative;
    width: 10.4%;
}

.header-main .user-block a {
    padding: 30px 0;
    text-align: center;
}
            /*Logo icon*/
.header-main .user-block a::before {
    content: '';
    position: absolute;
    left: 7px; 
    top: 32px;
    display:block;
    width: 25px;
    height: 25px;
    background: url(../image/icon-login.png) no-repeat;
}

.header-main  a{
  padding: 30px 0;
  font-size: 16px;
  font-family:'PT Sans Narrow', sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}



            /*-----------Logo------------*/
.index-logo {
    display: flex;
    padding-top: 50px;
    padding-bottom: 15px;
    justify-content: center
}


            /*---------features------------*/
section.features {
    display: flex;
    justify-content: space-between;
}
section.features .features-item {
    width: 31.25%;
}

section.features .features-item b {
    
    display: block;
    padding: 0 5px;
    text-transform:uppercase;
    text-align: center;
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: #fff;
}
section.features .features-item b::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #f7f4f1;
    transform: rotate(45deg);
    margin-left: 135px;
    margin-top: 20px;
    margin-bottom: 30px;
}

section.features .features-item p {
    padding: 0 5px;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    line-height: 22px;
}

       

                    /*-------index content--------*/

.index-content {
    display: flex;
    background: url(../image/bg_gallery.png);
    margin-bottom: 33px;
    padding: 50px 80px;
}

.index-content h2 {
    margin-bottom: 35px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}

.index-content ul {
    list-style: none;
}

.index-content ul p {
    margin-bottom: 5px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}

.index-content ul time {
    display: block;
    margin-bottom: 35px;
}

.index-content-left {
    position: relative;
    width: 300px;
    margin-right: 90px;
}
.index-content-left::after {
    content:'';
    display: block;
    background-image: url(../image/lindex-ine.png);
    position: absolute;
    top: 20px;
    left: 385px;
    width: 8px;
    height: 278px;
}

.index-content-right {
    width: 300px;
    margin-left: 90px;
}

